body, header{
	min-width: 400px;
	width: auto;
}

/* Container */
.container-navbar-offset {
	margin-top: 70px;
}

.colored-div {
	/* border: 2px solid #d7eeec; */
	text-align: center;
}

/* Navbar */
#navbar-title {
	margin-top: 10px;	
}

a.navbar-title-link, a:hover.navbar-title-link {
	color: #d7eeec;
	text-decoration: none;
}

.carousel-inner > .item > img {
    margin: auto;
}

div.carousel-wrapper {
	margin: auto;
	width: 68%;
	background-color: white;
}

.carousel-inner > .item > img {
	width: 98%;
	margin: auto;
}

.padding-10 {
	padding = 10px 10px 10px 10px;
}

.my-thumbnail {
    border-radius: 0px;
    border:1px solid #d7eeec;
    background-color: white;
    margin-bottom: 20px;
}

.form-text {
	font-size: 1.25em
}

.product-name {
	font-size: 1.5em;
}

.product-description-title {
	font-size: 1.25em;
}

.product-price {
	font-size: 1.25em
}

.product-price {
	font-size: 1.25em
}

.product-list-title {
	font-size: 1.25em;
}

.text-primary{
	font-size: 1.25em
}