body, header{
	min-width: 400px;
	width: auto;
}

/* Container */
.container-navbar-offset {
	margin-top: 70px;
}

.colored-div {
	/* border: 2px solid #d7eeec; */
	text-align: center;
}

a.navbar-title-link, a:hover.navbar-title-link {
	color: #d7eeec
}

.carousel-inner > .item > img {
    margin: auto;
}

div.carousel-wrapper {
	margin: auto;
	width: 68%;
	background-color: white;
}

.carousel-inner > .item > img {
	width: 98%;
	margin: auto;
}